In [2]:
import pandas as pd
import seaborn as sns

In [3]:
data = pd.read_csv("IMDB-Movie-Data.csv")
data

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [4]:
data.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [6]:
# the main features for model creation would be - 

# rank , title , genre , actors,year

In [7]:
movies = data[['Rank','Title','Genre','Actors','Year']]
movies

,Rank,Title,Genre,Actors,Year
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi","Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012
2,3,Split,"Horror,Thriller","James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016
3,4,Sing,"Animation,Comedy,Family","Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016
4,5,Suicide Squad,"Action,Adventure,Fantasy","Will Smith, Jared Leto, Margot Robbie, Viola D...",2016
...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015
996,997,Hostel: Part II,Horror,"Lauren German, Heather Matarazzo, Bijou Philli...",2007
997,998,Step Up 2: The Streets,"Drama,Music,Romance","Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008
998,999,Search Party,"Adventure,Comedy","Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014
999,1000,Nine Lives,"Comedy,Family,Fantasy","Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016

In [8]:
movies['tags'] = movies['Actors'] + movies['Genre']
new_data = movies.drop(columns = ['Genre' , 'Actors'])
new_data

C:\Users\shant\AppData\Local\Temp\ipykernel_2664\4078397591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['Actors'] + movies['Genre']

,Rank,Title,Year,tags
0,1,Guardians of the Galaxy,2014,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S..."
1,2,Prometheus,2012,"Noomi Rapace, Logan Marshall-Green, Michael Fa..."
2,3,Split,2016,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar..."
3,4,Sing,2016,"Matthew McConaughey,Reese Witherspoon, Seth Ma..."
4,5,Suicide Squad,2016,"Will Smith, Jared Leto, Margot Robbie, Viola D..."
...,...,...,...,...
995,996,Secret in Their Eyes,2015,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts..."
996,997,Hostel: Part II,2007,"Lauren German, Heather Matarazzo, Bijou Philli..."
997,998,Step Up 2: The Streets,2008,"Robert Hoffman, Briana Evigan, Cassie Ventura,..."
998,999,Search Party,2014,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh..."
999,1000,Nine Lives,2016,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch..."

In [9]:
# now you have to do text classification

from sklearn.feature_extraction.text import CountVectorizer

In [10]:
cv = CountVectorizer(max_features=10000, stop_words='english')

# there are stopwrods in the data

In [11]:
vector = cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [12]:
vector.shape

(1000, 3309)

In [13]:
new_data[new_data['Title'] == 'Prometheus'].index[0]

np.int64(1)

In [14]:
from sklearn.metrics.pairwise import cosine_similarity

In [15]:
similarity = cosine_similarity(vector)

In [16]:
similarity.shape

(1000, 1000)

In [17]:
# title index is 1 hence 
# we have to check the similarity for 1

In [18]:
similarity[1]

array([0.17407766, 1.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.09128709,
       0.        , 0.        , 0.17407766, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.34815531,
       0.        , 0.        , 0.        , 0.        , 0.18257419,
       0.        , 0.        , 0.        , 0.        , 0.18257419,
       0.        , 0.09128709, 0.34815531, 0.        , 0.17407766,
       0.16666667, 0.17407766, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.08703883, 0.        ,
       0.        , 0.09128709, 0.        , 0.17407766, 0.10206207,
       0.        , 0.        , 0.        , 0.09128709, 0.09128709,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.17407766, 0.18257419, 0.09128709, 0.        , 0.34815531,
       0.09128709, 0.        , 0.26111648, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.10206207, 0.        ,
       0.        , 0.17407766, 0.        , 0.        , 0.        ,
       0.16666667, 0.        , 0.        , 0.08703883, 0.        ,
       0.16666667, 0.        , 0.        , 0.08703883, 0.        ,
       0.09128709, 0.        , 0.        , 0.        , 0.15430335,
       0.        , 0.        , 0.26111648, 0.08703883, 0.        ,
       0.        , 0.        , 0.17407766, 0.09128709, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.26111648,
       0.        , 0.24019223, 0.18257419, 0.        , 0.09128709,
       0.        , 0.        , 0.        , 0.07715167, 0.        ,
       0.09128709, 0.26111648, 0.        , 0.        , 0.        ,
       0.        , 0.17407766, 0.09128709, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.17407766, 0.        , 0.        , 0.        , 0.        ,
       0.08006408, 0.        , 0.08703883, 0.10206207, 0.        ,
       0.        , 0.17407766, 0.        , 0.        , 0.09622504,
       0.17407766, 0.16012815, 0.        , 0.08703883, 0.09622504,
       0.        , 0.        , 0.17407766, 0.        , 0.09128709,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.09128709, 0.        , 0.17407766, 0.        ,
       0.        , 0.        , 0.        , 0.09128709, 0.09128709,
       0.        , 0.09128709, 0.        , 0.09128709, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.19245009, 0.        , 0.09128709, 0.25      , 0.        ,
       0.17407766, 0.        , 0.        , 0.        , 0.        ,
       0.18257419, 0.        , 0.        , 0.16666667, 0.09128709,
       0.34815531, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.17407766, 0.09128709, 0.        ,
       0.        , 0.17407766, 0.        , 0.        , 0.        ,
       0.17407766, 0.        , 0.09622504, 0.09128709, 0.        ,
       0.        , 0.        , 0.17407766, 0.        , 0.43519414,
       0.        , 0.        , 0.        , 0.        , 0.09128709,
       0.09622504, 0.        , 0.        , 0.        , 0.        ,
       0.18257419, 0.        , 0.        , 0.16012815, 0.09128709,
       0.        , 0.26111648, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.17407766, 0.09128709,
       0.        , 0.18257419, 0.17407766, 0.        , 0.09622504,
       0.09128709, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.18257419, 0.17407766, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.09128709, 0.        , 0.        , 0.        , 0.16666667,
       0.09622504, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.17407766, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.09128709,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.17407766, 0.16012815, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.17407766, 0.        ,
       0.        , 0.16666667, 0.        , 0.        , 0.09128709,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.09128709, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.17407766,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.17407766, 0.        , 0.09622504,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.17407766, 0.26111648, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.09622504, 0.        , 0.        ,
       0.        , 0.        , 0.09128709, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.17407766, 0.17407766,
       0.09128709, 0.        , 0.19245009, 0.        , 0.        ,
       0.        , 0.17407766, 0.        , 0.18257419, 0.        ,
       0.09128709, 0.        , 0.        , 0.        , 0.        ,
       0.34815531, 0.        , 0.        , 0.17407766, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.08703883, 0.        , 0.09128709, 0.        , 0.19245009,
       0.        , 0.        , 0.        , 0.09128709, 0.        ,
       0.        , 0.        , 0.09128709, 0.08703883, 0.16666667,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.09622504,
       0.08703883, 0.18257419, 0.        , 0.        , 0.        ,
       0.16666667, 0.        , 0.09128709, 0.        , 0.17407766,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.09128709, 0.        , 0.26111648, 0.        ,
       0.        , 0.09128709, 0.        , 0.17407766, 0.        ,
       0.        , 0.        , 0.17407766, 0.09128709, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.19245009,
       0.        , 0.17407766, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.17407766, 0.        , 0.18257419, 0.        , 0.16666667,
       0.17407766, 0.        , 0.17407766, 0.        , 0.        ,
       0.16666667, 0.        , 0.        , 0.09128709, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.17407766,
       0.        , 0.09128709, 0.09128709, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.18257419, 0.        , 0.        , 0.        ,
       0.        , 0.17407766, 0.        , 0.16666667, 0.09128709,
       0.        , 0.        , 0.17407766, 0.16666667, 0.        ,
       0.        , 0.09128709, 0.        , 0.        , 0.        ,
       0.        , 0.17407766, 0.25      , 0.        , 0.        ,
       0.34815531, 0.09128709, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.26111648, 0.17407766, 0.09128709,
       0.        , 0.        , 0.        , 0.        , 0.17407766,
       0.        , 0.        , 0.09128709, 0.        , 0.09128709,
       0.        , 0.16666667, 0.09622504, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.17407766, 0.08703883, 0.09128709,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.17407766, 0.        ,
       0.36514837, 0.        , 0.27386128, 0.        , 0.        ,
       0.08333333, 0.        , 0.        , 0.26111648, 0.        ,
       0.        , 0.09128709, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.09622504, 0.        , 0.        , 0.        ,
       0.        , 0.09622504, 0.        , 0.        , 0.        ,
       0.        , 0.09128709, 0.        , 0.        , 0.        ,
       0.09128709, 0.        , 0.09128709, 0.08703883, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.17407766, 0.        , 0.09128709, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.25      ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.08703883, 0.09128709, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.08703883, 0.        ,
       0.        , 0.        , 0.09128709, 0.09128709, 0.        ,
       0.        , 0.09128709, 0.        , 0.        , 0.        ,
       0.        , 0.18257419, 0.        , 0.17407766, 0.09622504,
       0.        , 0.09128709, 0.        , 0.        , 0.        ,
       0.17407766, 0.09128709, 0.        , 0.        , 0.10206207,
       0.        , 0.        , 0.17407766, 0.        , 0.09128709,
       0.17407766, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.25      , 0.        , 0.        ,
       0.09128709, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.17407766, 0.        , 0.        , 0.09128709,
       0.17407766, 0.        , 0.        , 0.08703883, 0.        ,
       0.        , 0.        , 0.09128709, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.08703883, 0.        , 0.09128709, 0.        , 0.        ,
       0.        , 0.17407766, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.09128709, 0.        , 0.        ,
       0.09128709, 0.        , 0.        , 0.        , 0.09128709,
       0.09128709, 0.09622504, 0.        , 0.        , 0.        ,
       0.09128709, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.18257419, 0.17407766,
       0.        , 0.18257419, 0.        , 0.09128709, 0.        ,
       0.        , 0.        , 0.        , 0.08703883, 0.17407766,
       0.08703883, 0.        , 0.09622504, 0.        , 0.        ,
       0.09128709, 0.26111648, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.09622504,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.09128709, 0.17407766,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.09128709, 0.        , 0.09128709, 0.        , 0.        ,
       0.09128709, 0.09128709, 0.        , 0.09128709, 0.        ,
       0.        , 0.09128709, 0.16666667, 0.08703883, 0.        ,
       0.09128709, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.19245009, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.09128709, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.09128709, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.09128709,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.09622504, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.17407766, 0.        , 0.        , 0.16666667, 0.        ,
       0.        , 0.        , 0.09128709, 0.        , 0.17407766,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.26111648,
       0.        , 0.        , 0.09622504, 0.26111648, 0.        ,
       0.        , 0.        , 0.        , 0.17407766, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.18257419, 0.09128709, 0.        , 0.        , 0.17407766,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.09128709, 0.        ,
       0.09622504, 0.        , 0.        , 0.        , 0.17407766,
       0.18257419, 0.        , 0.        , 0.16666667, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.17407766,
       0.09622504, 0.        , 0.09128709, 0.        , 0.09128709,
       0.09128709, 0.16012815, 0.        , 0.        , 0.        ,
       0.09128709, 0.        , 0.        , 0.09128709, 0.        ,
       0.        , 0.08703883, 0.        , 0.09622504, 0.        ,
       0.09128709, 0.17407766, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.09622504, 0.        , 0.        , 0.        , 0.        ,
       0.09128709, 0.        , 0.        , 0.        , 0.        ])

In [19]:
distance = sorted(list(enumerate(similarity[1])) , reverse=True , key=lambda vector:vector[1])
# converted into list and sorted in descending order
for i in distance[0:10]:
    print(new_data.iloc[i[0]].Title)

Prometheus
Rupture
MÃ¤n som hatar kvinnor
Arrival
X-Men: Apocalypse
The Prestige
X: First Class
The Invitation
Midnight Special
The Drop

In [20]:
# the above are the 10 movies whihchcan be recommended

In [21]:
def recommend(movies):
    index = new_data[new_data['Title'] == movies].index[0]
    distance = sorted(list(enumerate(similarity[index])) , reverse=True , key=lambda vector:vector[1])
    for i in distance[0:10]:
       print(new_data.iloc[i[0]].Title) 

# perform the iteration for each movies

In [22]:
recommend('Prometheus')

Prometheus
Rupture
MÃ¤n som hatar kvinnor
Arrival
X-Men: Apocalypse
The Prestige
X: First Class
The Invitation
Midnight Special
The Drop

In [23]:
import pickle

In [24]:
pickle.dump(new_data , open('movies_list.pkl' , 'wb'))
pickle.dump(similarity , open('similarity.pkl' , 'wb'))
pickle.load(open('movies_list.pkl' , 'rb'))

,Rank,Title,Year,tags
0,1,Guardians of the Galaxy,2014,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S..."
1,2,Prometheus,2012,"Noomi Rapace, Logan Marshall-Green, Michael Fa..."
2,3,Split,2016,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar..."
3,4,Sing,2016,"Matthew McConaughey,Reese Witherspoon, Seth Ma..."
4,5,Suicide Squad,2016,"Will Smith, Jared Leto, Margot Robbie, Viola D..."
...,...,...,...,...
995,996,Secret in Their Eyes,2015,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts..."
996,997,Hostel: Part II,2007,"Lauren German, Heather Matarazzo, Bijou Philli..."
997,998,Step Up 2: The Streets,2008,"Robert Hoffman, Briana Evigan, Cassie Ventura,..."
998,999,Search Party,2014,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh..."
999,1000,Nine Lives,2016,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch..."